<nav class="pt-2 pb-2 bg-c-purple vw-100 text-interactive c-active-sensor position-fixed" style="top: 0;">

    <ul class="nav justify-content-center">        
        <img src="../static/images/ico.png" alt="Logo del sistema" width="50px" class="position-absolute start-0 mb-1 pe-1">

        <li class="nav-item me-1">
            <a href="/" class="nav-link btn btn-sm text-dark" data-target="/">Inicio
                <i class="fa-solid fa-house"></i>
            </a>
        </li>

        <!-- <li class="nav-item me-1">
            <a href="pacientes" class="nav-link btn btn-sm text-dark" data-target="/pacientes">Pacientes
                <i class="fa-solid fa-user-large"></i>
            </a>
        </li>

        <li class="nav-item">
            <a href="medicos" class="nav-link btn btn-sm text-dark" data-target="/medicos">Médicos
                <i class="fa-solid fa-user-doctor"></i>
            </a>
        </li> -->

    </ul>
</nav>