{% extends 'base.html' %}

{% block body %}


    <div class="container" style="margin-top: 70px;">
        
        <div class="row mt-1">
            <div class="col-md-12 d-flex justify-content-end">
                <button type="button" class="btn btn-sm  btn-c-purple" data-bs-toggle="modal"  data-bs-target="#modalRegistro" >Crear</button>
            </div>            
        </div>

        <div class="row mt-5 w-100">
            <div class="table-responsive">
                <table class="table table-hover" id="tblPacientes">
                    <thead>
                        <tr>
                            <th scope="" class="d-none"></th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Identificación</th>
                            <th scope="col">Genero</th>
                            <th scope="col">Email</th>
                            <th scope="col">Celular</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="d-none"></td>
                            <td>Maria</td>
                            <td>prueba</td>
                            <td>123</td>
                            <td>123</td>
                            <td>123</td>
                            <td></td>
                        </tr>                        
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modalRegistro" tabindex="-1" aria-labelledby="modalRegistro">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title center">Registro</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"> </button>
                </div>
                <div class="modal-body">
                    <div class="form">
                        <div class="row mt-2">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="primerNombre">Primer nombre</label>
                                    <input type="text" id="primerNombre" placeholder="Primer nombre..." class="form-control">
                                </div>
                            </div>
                        </div>

                        <div class="row mt-2">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="segundoNombre">Segundo nombre</label>
                                    <input type="text" id="segundoNombre" placeholder="Segundo nombre..." class="form-control">
                                </div>
                            </div>
                        </div>

                        <div class="row mt-2">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="primerApellido">Primer apellido</label>
                                    <input type="text" id="primerApellido" placeholder="Primer apellido..." class="form-control">
                                </div>
                            </div>
                        </div>

                        <div class="row mt-2">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="segundoApellido">Segundo apellido</label>
                                    <input type="text" id="segundoApellido" placeholder="Segundo apellido..." class="form-control">
                                </div>
                            </div>
                        </div>

                        <div class="row mt-2">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="lstTipoDocumento">Tipo de documento</label>
                                    <select name="lstTipoDocumento" id="lstTipoDocumento" class="form-control">
                                        <option value="1">CC</option>
                                        <option value="2">TI</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="row mt-2">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="numeroDocumento">Número documento</label>
                                    <input type="text" id="numeroDocumento" placeholder="Número de documento..." class="form-control">
                                </div>
                            </div>
                        </div>

                        <div class="row mt-2">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="lstGenero">Genero</label>
                                    <select name="lstGenero" id="lstGenero" class="form-control">
                                        <option value="1">Masculino</option>
                                        <option value="2">Femenino</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="row mt-2">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="email">Email</label>
                                    <input type="email" id="email" placeholder="Email..." class="form-control">
                                </div>
                            </div>
                        </div>

                        <div class="row mt-2">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="celular">Celular</label>
                                    <input type="text" id="celular" placeholder="Celular..." class="form-control">
                                </div>
                            </div>
                        </div>

                        <div class="row mt-3">
                            <div class="col-md-12 d-flex justify-content-center">
                                <button class="btn btn-sm btn-success">Registrar</button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="../static/js/pacientes.js" type="module"></script>

{% endblock %}